  <footer>
    <section>
      <div class="ft_top">
        <div class="ft_info">
          <div class="txt">
            <p>Anthracite Coffee.
              <br>CEO. Bang Hyun Joo
              <br>240 Itaewon-ro, Yongsan-gu, Seoul, Rep of Korea.
              <br>Hosting by (주)아임웹 | Business Reg. 495-88-00190
              <br>Ecommerce License. Seoul, Yongsan-00449
              <br>Terms of Use | Privacy Policy
              <p>© Anthracite Coffee. 2017 All rights reserved. Site designed by Araby Studio. </p>
          </div>
          <div class="sns desk">
            <div class="faceB desk"><a href=""></a></div>
            <div class="insta desk"><a href=""></a></div>
          </div>
        </div>
        <div class="ft_menu">
          <div id="test" class="ft_menu_wrap">
            <button class="ft_title">STORE</button>
            <div class="ft_menu_list">
              <a href="">합정점</a>
              <a href="">연희점</a>
              <a href="">서교점</a>
              <a href="">한남점</a>
              <a href="">제주 한림점</a>
            </div>
          </div>
          <div class="ft_menu_wrap">
            <button class="ft_title">SHOP</button>
            <div class="ft_menu_list">
              <a href="">Blend</a>
              <a href="">Single Origin</a>
              <a href="">Cold Brew</a>
              <a href="">Subscription</a>
            </div>
          </div>
          <div class="ft_menu_wrap">
            <button class="ft_title">CONTACT</button>
            <div class="ft_menu_list">
              <a href="/notice">공지사항</a>
              <a href="/contact">샘플 신청 안내</a>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="ft_m_sns">
        <div class="sns mobile">
          <div class="faceB"><a href=""></a></div>
          <div class="insta"><a href=""></a></div>
        </div>
        <div class="ft_logo"></div>
      </div>
    </section>
  </footer>