<main class="index_main">
  <script src="js/main.js"></script>
  <div class="mainImg">
    <section>
      <div class="topWrap">
        <h1 class="logo_white"><a href="/main"></a></h1>
        <article class="top_btn_box desk tab_h">
          <h5 class="desk tab_h">Coldbrew</h5>
          <h1 class="desk tab_h">윌리엄 블레이크</h1>
          <h2 class="desk tab_h">완성도 있는 블랜드, 깊고 깨끗한 질감의 콜드브루</h2>
          <div class="button_1st desk tab_h">
            <a href="">
              <h2 class="desk tab_h btn_txt">구매하기</h2>
              <div class="desk tab_h">></div>
            </a>
          </div>
        </article>
        <div class="product"><a href=""></a></div>
      </div>
    </section>
  </div>
  <div class="color_box mobile tab">
    <article class="top_btn_box mobile tab">
      <h1 class="mobile tab">윌리엄 블레이크</h1>
      <h2 class="mobile tab">완성도 있는 블랜드, 깊고 깨끗한 질감의 콜드브루</h2>
      <div class="button_1st mobile tab ">
        <a href="">
          <h2 class="mobile tab btn_txt">구매하기</h2>
          <div class="mobile tab">></div>
        </a>
      </div>
    </article>
  </div>

  <!-- 윌리엄브레이크 상품리스트 -->
  <section data-aos="fade-up" data-aos-duration="1000">
    <div class="main-contens__wrap">
      <article class="btn_box">
        <h1>윌리엄 블레이크</h1>
        <p class="maxTxt">다크로스팅의 다양한 향미와 묵직한 단맛을 갖고 있으며
          깊고 깨끗한 질감을 가진 완성도 있는 블랜드입니다.</p>
        <div class="button">
          <a href="">
            <h2 class="btn_txt">제품 모두 보기</h2>
            <div>></div>
          </a>
        </div>
      </article>
      <article class="swiper mySwiper3">
        <div class="williamList swiper-wrapper">

          <div class="williamItem_box swiper-slide">
            <a class="williamItem_1" href="">
              <div class="item_img"></div>
              <div class="item_txt">
                <h4>윌리엄 블레이크 William Blake</h4>
                <h3>Blend</h3>
              </div>
            </a>
          </div>
          <div class="williamItem_box swiper-slide">
            <a class="williamItem_2" href="">
              <div class="item_img"></div>
              <div class="item_txt">
                <h4>윌리엄 블레이크 William Blake</h4>
                <h3>Coldbrew</h3>
              </div>
            </a>
          </div>
          <div class="williamItem_box swiper-slide">
            <a class="williamItem_3" href="">
              <div class="item_img"></div>
              <div class="item_txt">
                <h4>윌리엄 블레이크 William Blake</h4>
                <h3>Coldbrew Box</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-scrollbar"></div>
      </article>
    </div>
  </section>

  <!-- 앤트러사이트 합정 -->
  <section data-aos="fade-up" data-aos-duration="1000">
    <div class="main-contens__wrap">
      <article class="btn_box_2">
        <h1>앤트러사이트 합정</h1>
        <p class="maxTxt">서울 합정동 당인리 화력발전소 옆 오래된 신발공장은 앤트러사이트의 시작점입니다.
          저희의 모든 시간을 담은 가장 검고 흰 부분이라고 할 수 있는 ‘첫’ 공간입니다.</p>
        </p>
        <div class="button">
          <a href="">
            <h2 class="btn_txt">더보기</h2>
            <div>></div>
          </a>
        </div>
      </article>
      <div class="video">
        <iframe width="100%" height="500px" ; src="https://www.youtube.com/embed/Ef1XWzeuy3I"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

  </section>

  <!-- 앤트러사이트 제주 -->
  <section data-aos="fade-up" data-aos-duration="1000">
    <div class="main-contens__wrap rev">
      <div class="jeju_img">
        <div class="jeju_1"></div>
        <div class="jeju_2"></div>
      </div>
      <article class="btn_box_2 jeju_txt">
        <h1>앤트러사이트 제주</h1>
        <p class="maxTxt">제주 한림읍 전분공장을 두 번째 공간으로 만들면서우리는 하나의 생명력을 심었습니다.
          자연의 흐름을 읽어가며 커피를 즐길 수 있는 공간입니다. </p>
        <div class="button">
          <a href="">
            <h2 class="btn_txt">더보기</h2>
            <div>></div>
          </a>
        </div>
      </article>
    </div>
  </section>

  <!-- 도매사이트 배너 -->
  <div class="banner" data-aos="fade-up" data-aos-duration="1000">
    <h1>Wholesale Order / 파트너스</h1>
    <p class="desk">앤트러사이트의 커피는 다양한 산지와 품종에 대한 데이터를 바탕으로,
      각 파트너들을 위한 맞춤형 커피원두와 상품을 제작하고 있습니다.</p>
    <div class="bn_btn">
      <div class="button">
        <a href="">
          <h2 class="btn_txt">도매 회원 사이트 바로가기</h2>
          <div>></div>
        </a>
      </div>
      <div class="button">
        <a href="">
          <h2 class="btn_txt">파트너스 문의하기</h2>
          <div>></div>
        </a>
      </div>
    </div>


  </div>

  <!-- 앤트러사이트 공간 -->
  <section data-aos="fade-up" data-aos-duration="1000">
    <div class="main-contens__wrap">
      <article class="btn_box_2">
        <h1>앤트러사이트의 공간</h1>
        <p class="maxTxt">우리가 만드는 공간들은 새롭고 낯선 시간의 직접적 경험을 제공할 수 있고
          모두의 작업실이자 영감의 요소가 되길 바랍니다.</p>
        </p>
        <div class="button">
          <a href="">
            <h2 class="btn_txt">모든 스토어 보기</h2>
            <div>></div>
          </a>
        </div>
      </article>
      <div class="img_slide swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/slide_1.jpg" alt="">
            <span>앤트러사이트 연희점</span>
          </div>
          <div class="swiper-slide">
            <img src="img/slide_2.jpg" alt="">
            <span>앤트러사이트 서교점</span>
          </div>
          <div class="swiper-slide">
            <img src="img/slide_3.jpg" alt="">
            <span>앤트러사이트 제주점</span>
          </div>
          <div class="swiper-slide">
            <img src="img/slide_4.jpg" alt="">
            <span>앤트러사이트 한남점</span>
          </div>
          <div class="swiper-slide">
            <img src="img/slide_5.jpg" alt="">
            <span>앤트러사이트 합정점</span>
          </div>
        </div>
        <div class="swiper-button-prev left_arrow"></div>
        <div class="swiper-button-next right_arrow"></div>
      </div>

  </section>

  <!-- 블렌드 상품 리스트 -->
  <div class="product_wrap" data-aos="fade-up" data-aos-duration="1000">
    <section>
      <div class="moreBnt">
        <h1>Blend 블렌드</h1>
        <span><a href=""></a></span>
      </div>
      <div class="swiper mySwiper">
        <ul class="pd_list swiper-wrapper">
          <li class="swiper-slide"><a href="">
              <div class="pd_li_1"></div>
              <div class="item_txt">
                <h3>버터 팻 트리오</h3>
                <h4>볶은 견과, 스파이시, 다크 초콜렛</h4>
              </div>
            </a></li>
          <li class="swiper-slide"><a href="">
              <div class="pd_li_2"></div>
              <div class="item_txt">
                <h3>히스토리 미스터리</h3>
                <h4>견과류, 브라운 슈가, 카카오</h4>
              </div>
            </a></li>
          <li class="swiper-slide"><a href="">
              <div class="pd_li_3"></div>
              <div class="item_txt">
                <h3>공기와 꿈</h3>
                <h4>복합적인 플로럴, 레드커런트, 자몽, 캐슈넛</h4>
              </div>
            </a></li>
          <li class="swiper-slide"><a href="">
              <div class="pd_li_4"></div>
              <div class="item_txt">
                <h3>파블로 네루다</h3>
                <h4>크렌베리, 스트로베리, 헤즐넛 브라운슈가</h4>
              </div>
            </a></li>
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>

    </section>
  </div>
</main>