<div class="shoplogo_wrap">
  <h1 class="logo_bk"><a href="/"></a></h1>
</div>
<nav class="shop_submenu">
  <ul>
    <li><a href="/notice">공지사항</a></li>
    <li><a href="/contact">샘플 신청 안내</a></li>
  </ul>
</nav>



<div class="notice-contents">
  <h1>공지사항 작성</h1>
  <div class="contents">
    <h1>New Memo</h1>
    <form method="post" action="/writeMemo" class="memo_form">
      <div class="title-wrap">
        <label> 제목 : </label>
        <input type="text" name="title">
      </div>
      <div class="title-wrap">
        <p name="time">
      </div>
      <div>
        <textarea name="content" rows="20" cols="82"></textarea>
      </div>
      <div class="login">
        <div>
          <label>ID</label>
          <input type="text" name="name">
        </div>
        <div>
          <label>password</label>
          <input type="password" name="pw">
        </div>
      </div>
      <div class="conf_btn">
        <input class="confirm" type="submit" value="확인">
      </div>
    </form>
  </div>