<div class="shoplogo_wrap">
  <h1 class="logo_bk"><a href="/"></a></h1>
</div>
<nav class="shop_submenu">
  <ul>
    <li><a href="/notice">공지사항</a></li>
    <li><a href="/contact">샘플 신청 안내</a></li>
  </ul>
</nav>


<div class="notice-contents">
  <h1>공지사항 수정</h1>
  <form method="post" action="/editNotice">
    <input type="hidden" name="id" value="<%= row.id %>">
    <div>
      <textarea name="noticeContent" rows="20" cols="82">
        <%= row.noticeContent %>
      </textarea>
    </div>
    <div>
      <input type="submit" value="확인">
    </div>
  </form>
</div>