<div class="shoplogo_wrap">
  <h1 class="logo_bk"><a href="/"></a></h1>
</div>
<nav class="shop_submenu">
  <ul>
    <li><a href="/notice" style="text-decoration:underline;">공지사항</a></li>
    <li><a href="/contact">샘플 신청 안내</a></li>
  </ul>
</nav>


<div class="notice_page">

  <div class="notice-contents">
    <h1>공지사항 작성</h1>
    <div class="contents">
      <form method="post" action="/writeNotice" class="memo_form">
        <div class="title-wrap">
          <label> 제목 : </label>
          <input type="text" name="noticeTitle" class="noticeTitle">
        </div>
        <div>
          <textarea name="noticeContents" rows="20" cols="82"></textarea>
        </div>
    </div>
    <div class="form_Buttons">
      <input class="confirmBtn" type="submit" value="등록">
    </div>
    </form>
  </div>
</div>