.about_main {
  padding-bottom: 0;
}


h6 {
  max-width: 600px;
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 400;
}

.p30 {
  padding-bottom: 30px;
  box-sizing: border-box;
}


.w1300 {
  padding-left: 30%;
  padding-right: 8%;
  box-sizing: border-box;
  margin-bottom: 200px;
}

.img_wrap {
  width: 100%;
  padding-left: 30%;
  box-sizing: border-box;
  margin-bottom: 200px;
}

.m500 {
  max-width: 500px;
}

.m1000 {
  max-width: 1000px;
}

.logo_wrap {
  width: 84%;
  padding: 145px 0px;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo_bk {
  margin-bottom: 0;
}

.logo_bk>a {
  display: block;
  width: 160px;
  height: 40px;
  background-image: url(../img/logo_bk.png);
  background-position: center center;
  background-size: cover;
}

.about_img {
  width: 100%;
  background-image: url(../img/about_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40%;
  margin-bottom: 200px;
}

.img-cont {
  width: 100%;
  background-image: url(../img/about_img2.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 45%;
  box-sizing: border-box;
  position: relative;
}

.img-cont>a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 300;
  text-decoration-line: underline;
}

.img_layout {
  display: flex;
  justify-content: space-between;
}

.img_layout>div {
  width: calc(33% - 20px);
  padding-top: 40%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}

.seogyo {
  background-image: url(../img/seogyo.jpg);
  background-size: cover;
  background-position: center;
}

.hannam {
  background-image: url(../img/hannam.jpg);
  background-size: cover;
}

.jeju {
  background-image: url(../img/jeju.jpg);
  background-size: cover;
  background-position: center;
}

.img_layout a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 300;
  text-decoration-line: underline;
}


.color-wrap {
  width: 100%;
  background-color: #E4D8C3;
  padding-top: 400px;
  box-sizing: border-box;
  margin-top: -200px;
}

.top {
  margin-bottom: 0;
}

.img-cont_2 {
  background-image: url(../img/about_seogyo.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 45%;
  position: relative;
}

.img-cont_2>a {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 300;
  text-decoration-line: underline;
}

.txt-wrap {
  width: 100%;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  margin-bottom: 0;
}


.kr_logo {
  width: 27%;
  /* margin-right: 8%; */
}

.art-txt {
  width: 70%;

}

.art-txt>h2:nth-child(1) {
  margin-bottom: 30px;
}

.art-txt>h2:nth-child(3) {
  margin-bottom: 200px;
}

.last-img {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-size: cover;
}

:root {
  --swiper-theme-color: #53513D;
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
}



@media (max-width: 1300px) {
  .txt-wrap {
    flex-wrap: wrap;
    padding-left: 30%;
  }

  .kr_logo {
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
  }

  .kr_logo img {
    display: block;
  }

  .art-txt {
    width: 100%;
    box-sizing: border-box;
  }

  .about_img {
    height: 280px;
    padding-top: 20%;
    margin-bottom: 100px;
  }
}




@media (max-width: 1080px) {
  .w1300 {
    margin-bottom: 100px;
  }

  .img_wrap {
    margin-bottom: 100px;
  }

  .img_layout {
    margin-bottom: 100px;

  }

  .kr_logo img {
    width: 200px;
  }

  .img_wrap {
    width: 84%;
    padding-left: 0%;
    margin: 0 auto;
    text-align: center;
  }

  .img-cont {
    margin: 100px 0;
  }

  .color-wrap {
    padding-top: 200px;
  }

  .art-txt>h2:nth-child(3) {
    margin-bottom: 100px;
  }

  .w1300 {
    width: 84%;
    margin: 0 auto;
    padding-left: 0%;
    padding-right: 0%;
  }

  .txt-p {
    padding-bottom: 100px;
  }

  .img_layout {
    margin-bottom: 100px;
  }

  .img-cont_2 {
    margin: 100px 0;
  }

  .txt-wrap {
    width: 84%;
    padding-left: 0;
    padding-right: 0;
  }



}

@media (max-width: 768px) {
  .desk {
    display: none;
  }

  .mobile {
    display: block;
  }

  .logo_wrap {
    width: 100%;
    padding: 20px;
  }

  h6 {
    font-size: 25px;
  }

  .w1300 {
    width: 100%;
    padding: 0 20px;
  }

  h2 {
    font-size: 15px;
  }

  .img_wrap {
    width: 100%;
  }

  .img-cont {
    margin: 80px 0;
    padding-top: 60%;
  }

  .txt-p {
    padding-bottom: 80px;
  }

  .img_layout {
    margin-bottom: 80px;
  }

  .img-cont_2 {
    margin: 80px 0;
  }

  .txt-wrap {
    width: 100%;
    padding: 0 20px;
  }

  .art-txt>h2:nth-child(3) {
    margin-bottom: 80px;
  }

  .img-cont>a {
    font-size: 10px;
  }

  .img_layout a {
    font-size: 10px;
  }

  .img-cont_2 {
    padding-top: 70%;
  }

  .img-cont_2>a {
    font-size: 10px;
  }

  .img_layout>div {
    width: 100%;
    padding-top: 130%;
  }

  .swiper {
    width: 100%;
  }

  .mySwiper4 {
    margin-bottom: 50px;
  }
}