.noticePage-img {
  width: 100%;
  background-image: url(../img/notice.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  /* padding-bottom: 15%; */
}

.noticePage>.shop_submenu {
  margin-bottom: 50px;
}


.notice-wrap {
  margin-bottom: 0;

  padding-bottom: 200px;
  box-sizing: border-box;
}

.notice-wrap h1 {
  text-align: center;

}

.noticelogo_wrap {
  width: 84%;
  padding: 150px 0px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
}

.noticelogo_wrap>h1 {
  margin-bottom: 0;
}

.noticelogo_wrap>h2 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-Title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  display: none;

}

.notice-editBtn {
  background-color: #f0efe1;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  color: rgba(83, 81, 61, 0.8);
}

.notice-deleteBtn {
  background-color: transparent;
  border: none;
}

.list_top_wrap {
  float: right;

}




/* 작성페이지 */

.notice-contents {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.notice-contents textarea {
  width: 100%;
  border: 1px solid rgba(83, 81, 61, 0.8);

}



.noticeTitle {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 300px;
  height: 30px;
  border: 1px solid rgba(83, 81, 61, 0.8);
}

.confirm {
  width: 80px;
  height: 35px;
  background-color: transparent;
  border: 1px solid rgba(83, 81, 61, 0.8);
  font-size: 13px;
  float: right;
  cursor: pointer;
}

.notice-login input {
  width: 200px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(83, 81, 61, 0.8);
  margin-left: 30px;
  margin-top: 15px;

}



/* datail 페이지  */

.notice_page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0 200px;
  box-sizing: border-box;

}

.noticePage_header {
  width: 100%;
  padding: 7px 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-top: 3px solid #53513D;
  background-color: #F0EFE1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notice_side span {
  float: right;
  margin-left: 20px;
  font-size: 14px;
  color: rgba(83, 81, 61, 0.5);
}

.notice_HeaderTitle {
  font-size: 25px;
  font-weight: 500;
}

.list_body_title a {
  font-size: 16px;
}



@media(max-width:768px) {
  .notice-wrap {
    padding: 0 20px 200px;
  }

  .list_body_title a {
    font-size: 14px;
  }

  .notice_page {
    padding: 0 20px 100px;
  }

  .noticelogo_wrap {
    width: 100%;
    padding: 20px;
  }

  .noticelogo_wrap>h2 {
    display: none;
  }

  .show-Title {
    display: block;
  }

}