.notice-wrap {
  margin-bottom: 0;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.notice-wrap h1 {
  text-align: center;

}

.notice-editBtn {
  background-color: #f0efe1;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  color: rgba(83, 81, 61, 0.8);
}

.notice-deleteBtn {
  background-color: transparent;
  border: none;
}





/* 작성페이지 */

.notice-contents {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.notice-contents textarea {
  width: 100%;
  border: 1px solid rgba(83, 81, 61, 0.8);

}



.noticeTitle {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 300px;
  height: 30px;
  border: 1px solid rgba(83, 81, 61, 0.8);
}

.confirm {
  width: 80px;
  height: 35px;
  background-color: transparent;
  border: 1px solid rgba(83, 81, 61, 0.8);
  font-size: 13px;
  float: right;
  cursor: pointer;
}

.notice-login input {
  width: 200px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(83, 81, 61, 0.8);
  margin-left: 30px;
  margin-top: 15px;

}



/* datail 페이지  */

.notice_page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0 200px;
  box-sizing: border-box;

}

.noticePage_header {
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-top: 3px solid #53513D;
  /* background-color: #F0EFE1; */
  text-align: right;
}

.noticePage_header span {
  text-align: right;
  margin-left: 20px;
  font-size: 14px;
  color: rgba(83, 81, 61, 0.5);
}

.notice_HeaderTitle {
  font-size: 25px;
}